/* ==========================================
   Footer
========================================== */

.footer{

    padding:60px 20px;

    background:#0b0b0b;

    text-align:center;

    border-top:1px solid rgba(255,255,255,.08);

}

.footer-logo{

    font-size:2rem;

    color:var(--color-gold);

    margin-bottom:20px;

}

.footer p{

    color:#888;

    font-size:.9rem;

}