/* ==========================================
   Tablet
   1024px
========================================== */

@media (max-width:1024px){

    /* Header */

    .header{

        padding:0 24px;

    }

    .nav ul{

        gap:24px;

    }

    /* Hero */

    .hero-title{

        font-size:3.5rem;

    }

    .hero-text{

        max-width:600px;

    }

    /* About */

    #about .container{

        grid-template-columns:1fr;

        gap:48px;

    }

    .about-image{

        order:-1;

    }

    /* Gallery */

    .gallery-grid{

        grid-template-columns:repeat(2,1fr);

        grid-auto-rows:260px;

    }

    .gallery-item{

        grid-column:auto !important;
        grid-row:auto !important;

    }

    /* System */

    .system-wrapper{

        grid-template-columns:1fr;

    }

    /* Access */

    .access-wrapper{

        grid-template-columns:1fr;

    }

    #googleMap{

        height:360px;

    }

}