*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:sans-serif;

    background:#111;

    color:white;

}

.admin{

    display:flex;

    min-height:100vh;

}

.sidebar{

    width:260px;

    background:#181818;

    border-right:1px solid #333;

    padding:30px;

}

.sidebar h1{

    color:#d4af37;

    margin-bottom:40px;

}

.sidebar ul{

    list-style:none;

}

.sidebar li{

    padding:14px 18px;

    margin-bottom:8px;

    border-radius:8px;

    cursor:pointer;

}

.sidebar li:hover{

    background:#2a2a2a;

}

.sidebar .active{

    background:#d4af37;

    color:#111;

}

.content{

    flex:1;

    padding:50px;

}

.content h2{

    color:#d4af37;

    margin-bottom:20px;

}