*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:sans-serif;

    background:#111;

    color:white;

}

.admin{

    display:flex;

    min-height:100vh;

}

.sidebar{

    width:260px;

    background:#181818;

    border-right:1px solid #333;

    padding:30px;

}

.sidebar h1{

    color:#d4af37;

    margin-bottom:40px;

}

.sidebar ul{

    list-style:none;

}

.sidebar li{

    padding:14px 18px;

    margin-bottom:8px;

    border-radius:8px;

    cursor:pointer;

}

.sidebar li:hover{

    background:#2a2a2a;

}

.sidebar .active{

    background:#d4af37;

    color:#111;

}

.content{

    flex:1;

    padding:50px;

}

.content h2{

    color:#d4af37;

    margin-bottom:20px;

}

.gallery-row{

    display:flex;

    align-items:center;

    gap:20px;

    background:#222;

    padding:15px;

    margin-bottom:15px;

    border-radius:10px;

}

.thumb{

    width:140px;

    height:90px;

    object-fit:cover;

    border-radius:8px;

}

.gallery-info{

    flex:1;

}

.edit,
.delete{

    padding:10px 18px;

    cursor:pointer;

}

.edit{

    background:#d4af37;

    border:none;

}

.delete{

    background:#b33;

    color:#fff;

    border:none;

}

.dashboard{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

}


.dashboard-card{

    background:#222;

    padding:25px;

    border-radius:12px;

}


.dashboard-card h3{

    color:#d4af37;

    margin-bottom:15px;

}