/* ==========================================
   Section
========================================== */

.section{

    padding:120px 24px;

}

.container{

    width:min(1200px,100%);

    margin:auto;

}

.section-title{

    margin-bottom:60px;

    text-align:center;

}

.section-title span{

    color:var(--color-gold);

}